<h1>ようこそ、Topic一覧へ</h1>

<%= link_to "新しいTopicを作成する", new_topic_path, class: 'btn btn-primary' %>

<% @topics.each do |topic| %>
  <li><a href="<%= topic_path(topic) %>"><%= topic.title %></a></li>
<% end %>