 // Custom bootstrap variables must be set or imported *before* bootstrap.
$font-size-base: 1.25rem;
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@media (max-width: 768px) {
  .index-content .col-lg-4 {
    margin-top: 20px;
  }
}

.space-around {
  display:flex;
  justify-content: space-around;
}


.row {
  display:flex;
  flex-direction:row;
  margin: 20px;
}

.card {
  display:flex;
  margin: 45px;
  width: 250px;
}

.card-text {
  height: 200px;
}

.nav-tabs {
  margin: 10px;
}







#chat-frame {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 1em 2em;
  background-color: #99CCFF;
}
.chat-talk {
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}
.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}
.chat-talk .talk-icon {
  float: left;
  width: auto;
}
.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto 0 70px;
  padding: 1em;
}
.chat-talk .talk-icon img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 2px solid #fff;
  border-radius: 50%;
}
.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #FFFFFF;
}
.chat-talk.mytalk .talk-icon {
  float: right;
}
.chat-talk.mytalk .talk-content {
  margin: 0 70px 0 auto;
  color: #000;
  background: #78FF6C;
}
.chat-talk.mytalk .talk-content:before {
  right: -20px;
  left: auto;
  border-color: transparent;
  border-left-color: #78FF6C;
}

p.text_right {text-align:right; }


.sample1 {
  padding: 0;
  margin: 10px auto;
  width: 380px;
  height: 500px;
  overflow-y: scroll;
  border: 10px solid #ccc
}

.example {
  margin: 10px auto;
  width:400px;
}

.post_image_mytalk {
  text-align:right;
}

.post_image {
  text-align:left;
}